@model  List<MyHomeWork.Models.ViewModels.AssetViewModel>
@section head{
   <style type="text/css">

    </style>
    <script type="text/javascript">
        function doPost() {

            window.location.href = "@Url.Action("MyForm")";
        }
        function doDel(id) {

            window.location.href = "@Url.Action("Del")/" +id;
        }
        function doEdit(id) {
            window.location.href = "@Url.Action("EditGet")/" + id;

        }
        function doDelList()
        {
            var i = 0, id='';
       
            $("input[id='cbDel']").each(function () {
                i++;
                if ($(this).prop('checked')) 
                    id += i + ',';
             } );
            window.location.href = "@Url.Action("DelList")/" + id;;
        }
    </script>
}
@{
    Layout = "~/Views/Shared/_myLayout.cshtml";
    ViewBag.Title = "我的記帳本";
}

<div class="container">
     <table id="tbList" class="table table-bordered table-hover " >
         <tr>
             <td colspan="6">
                 <input type="button" value="新增"  class="btn btn-info btn-sm" onclick="doPost()"/>
             </td>
         </tr>
        <tr>
            <th><button class="btn btn-default btn-sm" onclick="doDelList()">刪除</button></th>
            <th></th>
            <th>類別</th>
            <th>日期</th>
            <th>金額</th>
            <th>備註</th>
        </tr>
        @{
            int i = 1;
            if (Model != null)
            {
                foreach (var item in Model)
                {
                   @*<input name="cbDel" id="cbDel" type="checkbox" value="true">
                    <input name="cbDel" type="hidden" value="false">*@
                    <tr>
                        <td>@Html.CheckBox("cbDel")</td>
                        <td>
                            <button class="btn btn-danger btn-sm" onclick="doDel(@i)">刪除</button>
                            <button class="btn btn-danger btn-sm" onclick="doEdit(@i)">編輯</button>
                        </td>
                        <td> @{ var type= item.Type == 1 ? "支出" : "收入"; } @type</td>
                        <td>@item.Date</td>
                        <td>@item.Amt</td>
                        <td>@item.Remark</td>
                    </tr>
                    i++;
                }
            }
        }
    </table>
</div>
